body{
   
}
.principal{
    display: flex;
    
}
.menu{
    display: flex;
    flex:1;
   
    flex-direction: column;
    align-items: center;
    height: 500px;
    
}
.contenido{
    display: flex;
    flex:5;
   
    align-items: center;
    flex-direction: column;
}
.contenedorLogo{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}
.contenedorInfoGrupo{
    display: flex;
    flex: 1;
   
    flex-direction: column;
}


.contenedorBotones{
    display: flex;
    flex:4;
    flex-direction: column;
    justify-content: center;
}
.boton{
    margin-top: 10px;
}
.contenedorTexto{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    flex:1;

    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  
}
.contenedorAcciones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex:1;
}
.etiquetaTexto{
    display: flex;
    flex:1;
    justify-content: flex-end;
    margin-right: 10px;

}

.cajaTexto{
    display: flex;
    flex:1;
    justify-content: flex-start;
}
.superior{
    margin-top: 40px;
    display: flex;
    flex:1;
    flex-direction: column;
}
.inferior{
    display: flex;
    flex:1;
    justify-content: center;
    margin-top: 30px;
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    margin-top: 15px;
    border: 1px solid black;
    border-radius: 5px;
    border-collapse: collapse;
    border-top-left-radius:6px ;
    border-top-right-radius:6px ;
    border-bottom-left-radius:3px ;
    border-bottom-right-radius:3px ;
    border-spacing:1px ;
}
th{
    color: white;
    font-weight: bold;
    border: 1px solid black;
    background: rgb(44, 44, 44);
    font-size: 0.95rem;
    border-bottom:1px solid rgb(167, 159, 159) ;
    border-spacing:1px ;
}

tbody tr:nth-child(odd) {
    background: rgb(234, 235, 234);
}

    tbody tr:nth-child(even) {
    background: rgb(203, 203, 203);
}
td{
    font-size: 1.1rem;
    border: 1px solid black;
    border-spacing:1px ;
    font-weight: lighter;
    border-right: 1px solid rgb(203, 203, 203);
    border-left: 1px solid rgb(203, 203, 203);
    border-bottom: 1px solid rgb(203, 203, 203);
    padding-left: 3px;
}
